DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=cooking_website
DB_USER=root
DB_PASS=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_EMAIL=no-reply@example.com
MAIL_FROM_NAME=Cooking Website

TRUSTED_PROXY_IPS=
